//color palette
$blue: #072b56;
$white: #fff;
$grey: #e8e8e8;
$black: #000000;
$color:#000031;
$banner-color: darken($color,2%);

//fonts
$font-size-standard: 14px;
$font-size-small: 1rem;
$font-size-heading: 1.4rem;
$font-size-medium: 1.2rem;
$font-weight-heading: 400;
$font-weight-text: 300;
$font-family: sans-serif;

$link-color: #075ab3;
$border: 1px solid #e8e8e8;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
