@import '../../../styles/mixin.scss';
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  max-height: 70vh;
  border-radius: 15px;
  margin-top: 30vh;
  margin : 2rem auto ;
    
  &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
    
  button {
    @include BUTTON();
  }

  img{
      max-width: 57vw;
      max-height: 45vh;
  }

}

